<%- include('partials/above'); -%>

<div class="container p-5 font-weight-bolder" data-aos="zoom-in-down">
    <h1 class="display-5">Services</h1>
    <p>I am experienced in machine learning, supervised and unsupervised algorithms and use data visualization techniques to present the results. I use SQL, Python, PowerBI and Tableau for my data projects.</p>
    <p>
        &nbsp;
    </p>
    <ul>
    <li><h2 class="display-7">Data analytics</h2></li>
    <p>Get more value from your data with prediction models and machine learning techniques,
        for example by predicting behavior or targeting the right customer</p>
    <li><h2 class="display-7">Dashboards</h2></li>
    <p>Present your data in an inspiring way by using an dashboard rather than a piece of text. I create dashboards which can be used internally or publicly.</p>
    </ul>
</div>

<%- include('partials/script'); -%>