<%- include('partials/header'); -%>

    <div class="container p-5 mt-2 transparent" data-aos="zoom-in-down">
        <h1 class="display-5">Services</h1>
        <p>I am experienced in machine learning, supervised and unsupervised algorithms and use data visualization
            techniques to present the results. I use SQL, Python, PowerBI and Tableau for my data projects.</p>
        <p>
            &nbsp;
        </p>
        <div class="row">
            <div class="col-md-3">
                <img src="../images/services/Data Analytics.png" class="imgHeight" alt="Stock Image">
            </div>
            <div class="col-md-9">
                <h2 class="display-7">Data analytics</h2>
                <p>Get more value from your data with prediction models and machine learning techniques,
                    for example by predicting behavior or targeting the right customer</p>
            </div>
            <div class="col-md-3 mt-5">
                <img src="../images/services/Business-dashboard.png" class="imgHeight" alt="Stock Image">
            </div>
            <div class="col-md-9 mt-5">
                <h2 class="display-7">Dashboards</h2>
                <p>Present your data in an inspiring way by using an dashboard rather than a piece of text. I create
                    dashboards which can be used internally or publicly.</p>
            </div>


        </div>
    </div>

    <%- include('partials/script'); -%>